* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 11px;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
    background-color: #F0F0F0;
}

main {
    padding: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 458px;
    width: 50%;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    border-bottom-right-radius: 12em;
    overflow: hidden;
}

.date_insert .entradas {
    display: flex;
    justify-items: left;
    flex-direction: row;
}

.entradas .divCalc {
    font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #0D0D0D;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

/* .date_insert .entradas label{
    display: block;
} */

.date_insert .entradas input {
    padding: 10%;
    height: 60px;
    font-size: 25px;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
}

.date_insert .entradas input:hover, .date_insert .entradas input:focus {
    outline: none;
    border: 2px solid #7965BF;
}

.date_insert label {
    color: #7B7B7B;
}

.date_insert .errorMessage{
    position: absolute;
    top: 120px;
    letter-spacing: 1.8px;
    font-style: italic;
    font-size: 8px;
    text-align: left;
    color: red;
    margin: 7px 0 0 0 ;
}

.date_insert #campoVazioDia{
    display: none;
}

.date_insert #campoInvalidoDia{
    display: none;
}

.date_insert #dataInvalidaDia{
    display: none;
}

.divisao {
    position: relative;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.date_insert button {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 2%;
    bottom: -300%;
    background-color: #0D0D0D;
    border-radius: 50%;
    border: none;
    z-index: 1;
    transition: 0.3s;
}

.date_insert button:hover {
    background-color: #7965BF;
    cursor: pointer;
}

.date_insert button img {
    padding: 18px;
}

.date_insert hr {
    width: 90%;
    border-color: rgba(135, 135, 135, 0.145);
    height: 0;
    margin: 0;
    z-index: 0;
}


.date_response p {
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
}

.date_response .calculo {
    font-style: italic;
    font-weight: bolder;
    color: #8552FF;
}

@media screen and (max-width: 600px) {
    .date_insert button {
        position: absolute;
        right: calc(50% - 40px);
        bottom: -300%;
        border-radius: 50%;
        border: none;
        z-index: 1;
    }
}
